<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Tracker</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!--<link rel="stylesheet" href="{{url_for('static',filename='css/dark.css')}}">-->

    <!--<link rel="stylesheet" href="../static/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
    <!--    <link rel="stylesheet" href="../static/css/dark.css">-->

    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/eaf591811e.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="body">
    <div class="container">
<p>Welcome User</p>
</div>
<script>


    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
        document.body.classList.toggle('light');
    });

</script>
</body>

</html>